/************************************ GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2{
  padding-top: 40px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  position: relative;
}

.square{
  border: 2px solid white;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background-color: chartreuse;
}

.square.clicked{
  background-color: aqua;
}

.square.bomb{
  background-color: red;
}

.end-game{
  position: absolute;
  top:0;
  left: 0;
  z-index: 11;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5) ;
}

.btn{
  margin-left: 20px;
  padding: 8px 20px;
  background-color: rgb(113, 219, 6);
  border: 1px solid white;
}

.btn:hover{
  background-color: rgb(126, 241, 10);
  color: white;
  text-decoration: none;
}

select{
  margin: 20px;
}

